# Mapa de memória para o ld65 (cartucho NROM: 32KB de PRG + 8KB de CHR)
MEMORY {
    ZP:   start = $0000,  size = $0100, type = rw, file = "";    # Zero page (RAM rápida)
    OAM:  start = $0200,  size = $0100, type = rw, file = "";    # Buffer de sprites copiado por DMA
    RAM:  start = $0300,  size = $0500, type = rw, file = "";    # Resto da RAM interna
    HDR:  start = $7FF0,  size = $0010, type = ro, file = %O, fill = yes, fillval = $00;  # Header iNES (16 bytes)
    PRG:  start = $8000,  size = $8000, type = ro, file = %O, fill = yes, fillval = $00;  # PRG-ROM (código e dados)
    CHR1: start = $0000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $00;  # CHR-ROM (gráficos)
}

# Em que memória cada segmento do código vai parar
SEGMENTS {
    ZEROPAGE: load = ZP,   type = zp;
    HEADER:   load = HDR,  type = ro;
    RAM:      load = RAM,  type = bss;
    CODE:     load = PRG,  type = ro,  start = $8000;
    CHARS1:   load = CHR1, type = ro,  optional = yes;
    VECTORS:  load = PRG,  type = ro,  start = $FFFA;  # NMI, Reset e IRQ
}
